<!doctype html>
<html lang="en">
    <head>
        <!-- <meta charset="utf-8"> -->
        <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <title>$title$</title>
    </head>
    <body>
        <div class="container">
            <div class="header"><!-- <header> -->
            <div class="logo">
                    <a href="/index.html"><img src="/img/logo_forall_h61.png" alt="ScalaCheck" /></a><a href="/index.html"><img src="/img/logo_scalacheck_h61.png" alt="ScalaCheck" /></a>
            </div>
                <div class="nav"><!-- <nav> -->
                    <ul>
                        <li><a href="/download.html">Download</a></li>
                        <li><a href="/documentation.html">Documentation</a></li>
                        <li><a href="$scmurl$" target="_blank">Source</a></li>
                    </ul>
                </div><!-- </nav> -->
            </div><!-- </header> -->
            <div class="main"><!-- <main role="main"> -->
            $body$
            </div><!-- </main> -->
            <div class="footer"><!-- <footer> -->
                <div class="left"><p>&copy; $year$ <a href="mailto:$email$">$author$</a></p></div>
                <div class="logo"><a href="/index.html"><img src="/img/logo_forall_h30.png" alt="ScalaCheck" /></a></div>
                <div class="right"><p></p></div>
            </div><!-- </footer> -->
        </div>
    </body>
</html>
